@import "../../../css/variable";
.footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: $roboto-serif;
  }
  
  .social-icons {
    display: flex;
  }
  
  .icon {
    font-size: 24px;
    color: #fff;
    margin-right: 10px;
  }
  
  .contact-info {
    text-align: center;
    
  }
  
  .contact-info p {
    margin: 5px 0;
  }
  .copyright {
    color: #999;
    font-size: 14px;
    text-align: center;
    margin-top: 20px;
  }