@import "../../../css/variable";

.container-project {
  width: 100%;
  justify-content: center;
  align-items: center;
  position: relative;

  > div.text-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: $roboto-serif;
    cursor: context-menu;

    > h1 {
      font-size: 70px;
      color: adjust-hue($color: #e2dfdf, $degrees: 15);
      margin-bottom: 5;
      transition: transform 0.3s ease;
      position: relative;

      &:hover {
        transition: all 0.5s ease;
        transform: scale(1.1);
      }

      &:before {
        content: "";
        display: block;
        height: 100px;
      }
    }
  }

  > div.container-projects {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;

    > video.DemoVideo{
      width: 50%;
      object-fit: cover;
      box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
        rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
        rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
      margin: 2%;
    }

    > img.Demo {
      width: 20%;
      object-fit: cover;
      box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
        rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
        rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
      margin: 2%;
      border-radius: 10px;
      transition: transform 0.3s ease;

      &:hover {
        transition: all 0.5s ease;
        transform: scale(1.1);
      }
    }
    .hidden {
      display: none;
    }
    > div.container-description {
      width: 100%;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin: 2%;
      font-family: $roboto-serif;
  
      > h2 {
        font-size: 25px;
        color: adjust-hue($color: #cdced8, $degrees: 15);
        margin-left: 2%;
        margin-top: 5%;
      }

      > h2.onprocess {
        color: rgb(0, 0, 0);
        font-style: italic;
        font-size: 20px;
        font-family: $roboto-serif;
      }

      > div.container-btn{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        
        > button.btn , .overlay-button {
          text-decoration: none;
          color: rgb(246, 246, 246);
          border: 1px solid rgb(255, 255, 255);
          border-radius: 8px;
          padding: 10px 20px;
          margin-top: 20px;
          cursor: pointer;
          background-color: adjust-hue($color: #101347, $degrees: 15);
          transition: transform 0.3s ease;
    
          &:hover {
            background-color: adjust-hue($color: #101347, $degrees: -15);
            color: rgb(246, 246, 246);
            border: 1px solid rgb(255, 255, 255);
            transition: all 0.5s ease;
            transform: scale(1.1);
            box-shadow: 0 0 10px rgb(255, 255, 255);
          }
        }


      }

    }

  }
}
